.number-button {
    display: flex;
    width: 10vw;
    height: 10vw;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 8vw;
}